<section class="py-5 light-titanium-grey-bg">
                        <div class="container-lg">
                            <div class="row justify-content-center py-md-5 py-3">
                            <div class="col-xl-4 col-lg-6 mb-5">
                                <h1 class="head-h1 fw-200 mb-4 text-start dark-blue">Become a Partner</h1>
                                <p class="text dark-gray fw-500">
                                    Please send us a message by filling out the form below and we will get back with you shortly.
                                    <br><br>
                                    OR EMAIL: 
                                    <br><br>
                                    <a href="mailto:info@quorumsoftware.com">info@quorumsoftware.com</a>
                                </p>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <form class="form-wrapper">
                                    <div class="form-field">
                                        <input type="text" name="fname" placeholder="First name">
                                    </div>
                                    <div class="form-field">
                                        <input type="text" name="lname" placeholder="Last name">
                                    </div>
                                    <div class="form-field">
                                        <input type="email" name="email" placeholder="Email address">
                                    </div>
                                    <div class="form-field">
                                        <input type="text" name="company name" placeholder="Company name">
                                    </div>
                                    <div class="form-field">
                                        <input type="text" name="job title" placeholder="Job title">
                                    </div>
                                     <div class="form-field">
                                        <input type="tel" name="phone" placeholder="Phone number">
                                    </div>
                                    <div class="form-field">
                                        <input type="text" name="country" placeholder="Country">
                                    </div>
                                    <div class="form-field">
                                        <select id="partner-type">
                                            <option value="partner-type">Partner Type</option>
                                            <option value="partner-type">System Integrator</option>
                                            <option value="partner-type">Outsourced Services/BPO</option>
                                            <option value="partner-type">Technology Partner</option>
                                            <option value="partner-type">Industry Partner</option>
                                            <option value="partner-type">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-field">
                                        <textarea rows="5" placeholder="Comments (optional)"></textarea>
                                    </div>
                                    <div class="form-field">
                                        <button type="submit" class="btn btnOrange d-flex justify-content-center align-items-center mt-3">
                                            Contact Us
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </div>
                </section>