@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "Master.cshtml";
}

<section class="container">
    <div class="row">
        @Html.Partial("~/Views/Partials/Components/Wrappers/Simple.cshtml", new SimpleWrapperModel { ComponentModel = Model.Value<ArchetypeModel>("pageHead"), ComponentView = "~/Views/Partials/Components/SectionOverviewCopyBlock.cshtml", ComponentSettings = new { IsH1 = true } })
    </div>
    <div class="row icon-blocks">
        @Html.Partial("~/Views/Partials/Components/Wrappers/grid.cshtml", new GridWrapperModel { ComponentModel = Model.Children, ComponentView = "~/Views/Partials/Components/FeatureBusinessSection.cshtml", SColumns = 3, ComponentSettings = new { } })
    </div>
</section>


<div class="container">
    <hr class="row"/>
</div>

 
<section class="container trusted simple margin-bottom">
    <div class="row">
        <h2 class="text-center">@Model.Value("trustedHeadline")</h2>
        @Html.Partial("~/Views/Partials/Components/Wrappers/grid.cshtml", new GridWrapperModel { ComponentModel = Model.Value<ArchetypeModel>("trustedImages"), ComponentView = "~/Views/Partials/Components/ImageBlock.cshtml", SColumns = 4, ComponentSettings = new { } })
    </div>
</section>

