@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
@{
    var HeroComponent = Model.Value<IList<IPublishedElement>>("heroComponent");
    var solutionmenus = Model.Value<IList<IPublishedElement>>("NavigationMenu");
    var multiTextButton = Model.Value<IEnumerable<IPublishedElement>>("multiTextButtonComponent");
   
}

@if (HeroComponent != null)
{
    @Html.Partial("~/Views/Partials/NewComponents/ComponentBackgroundHeroNoSpacing.cshtml", HeroComponent.FirstOrDefault())
}

<section class="Event-page py-lg-4 py-5 my-0 mb-5">
    <div class="container-lg">
        <div class="row">


            <div class="col-md-3">
                @if (solutionmenus != null)
                {
                    foreach (var menu in solutionmenus)
                    {
                        @Html.Partial("~/Views/ComponentVerticalNavigation.cshtml", menu);
                    }
                }
            </div>

            <div class="col-md-9">
                
                  
                    @if (multiTextButton != null && multiTextButton.Any())
                    {
                        foreach (var button in multiTextButton)
                        {
                        @Html.Partial("~/Views/ComponentMultiTextButton.cshtml", button)
                        }
                    }
                 
</div>
        </div>
        </div>
    
   </section>
