@inherits UmbracoViewPage<SimpleWrapperModel>
@*
    Widget:  Simple Wrapper.  Will wrap each item in it's own container.  Used if each item in the Model should be it's own row on the page

*@
<div class="c-wrapper-simple @(!string.IsNullOrEmpty(Model.WrapperComponentModifier) ? "c-wrapper-simple--" + Model.WrapperComponentModifier : "")">
    @for (int i = 0; i < Model.ComponentModel.Count(); i++)
    {
        var item = (object)Model.ComponentModel.ElementAt(i);
        <div class="c-wrapper-simple__wrapper" style="">
            @if(Model.UseContainerWrapper)
            {
                @:<div class="container">
            }
            
            @Html.Partial(Model.ComponentView, new ComponentItemModel(item, Model.ComponentModifier, Model.ComponentSettings))
            @if(Model.UseContainerWrapper)
            {
                @:</div>
            }
        </div>
    }
</div>
